name: build

on:
  push:
    branches:
      - "master"

jobs:
  docker-base:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Docker
        uses: ./.github/actions/setup-docker
        with:
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: baseのタグを取得＆既存かを確認
        id: base-check
        run: |
          tag=$(bash get_version.bash base)
          echo "tag=$tag" >> $GITHUB_OUTPUT
          IMAGE_EXISTS=$(docker pull hiroshiba/hiho-docker-base:$tag > /dev/null 2>&1 && echo "true" || echo "false")
          echo "exist=$IMAGE_EXISTS" >> $GITHUB_OUTPUT

      - name: baseのbuild＆push
        if: ${{ steps.base-check.outputs.exist == 'false' }}
        uses: docker/build-push-action@v4
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          file: ./${{ steps.base-check.outputs.tag }}.Dockerfile
          tags: |
            hiroshiba/hiho-docker-base:${{ steps.base-check.outputs.tag }}

  docker-audio:
    runs-on: ubuntu-latest
    needs: docker-base
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Docker
        uses: ./.github/actions/setup-docker
        with:
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: audioのタグを取得＆既存かを確認
        id: audio-check
        run: |
          tag=$(bash get_version.bash audio)
          echo "tag=$tag" >> $GITHUB_OUTPUT
          IMAGE_EXISTS=$(docker pull hiroshiba/hiho-docker-base:$tag > /dev/null 2>&1 && echo "true" || echo "false")
          echo "exist=$IMAGE_EXISTS" >> $GITHUB_OUTPUT

      - name: audioのbuild＆push
        if: ${{ steps.audio-check.outputs.exist == 'false' }}
        uses: docker/build-push-action@v4
        with:
          push: true
          # platforms: linux/amd64,linux/arm64 # NOTE: linux/arm64はmontreal-forced-alignerが対応していない
          platforms: linux/amd64
          file: ./${{ steps.audio-check.outputs.tag }}.Dockerfile
          tags: |
            hiroshiba/hiho-docker-base:${{ steps.audio-check.outputs.tag }}
